.theme-blue {
  color: rgb(41,180,207) !important;
}

.auto-ml-0-mr {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.clinic-bg {
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-image: url('./clinic_bg.jpeg');
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.doctor-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-one {
  position: relative;
  padding: 40px;
  color: white;
  align-items: center;
  text-shadow: rgb(0 0 0 / 70%) 0px 1px 3px;
}

.bg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  overflow: hidden;
  background-color: rgb(80,80,80);
}

.section-one h2{
  font-weight: 400;
}

.section-two {
  padding: 20px 5px;
}