.theme-blue {
  color: rgb(41,180,207) !important;
}

.auto-ml-0-mr {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.clinic-bg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-image: url('./clinic_bg.jpeg');
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.doctor-name {
  overflow: hidden;
  text-overflow: ellipsis;
}